<!--<html>
<head>

</head>
<body>
{% if y==0 %}
Enter your tweet
{% elif y < 0.5%}
Positive Tweet
{% elif y>=0.5%}
Negative Tweet
{% endif %}
<form name="form" method="post" action="/" >
Enter Tweet: <input type="text" name="tweet" value="tweet"><br></input>
<button type="submit" >Submit</button>
</form>
</body>
</html>-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Twitter Sentiment Analysis</title>
  </head>
  <body>
  <div class="container">
    <h1>Twitter Sentiment Analysis</h1>
    
    {% if y==0 %}
Hi there!
{% elif y < 0.5%}
Positive Tweet
{% elif y>=0.5%}
Negative Tweet
{% endif %}
<form name="form" method="post" action="/" >
<div class="form-group">
Enter Tweet: <input type="text" name="tweet" value="tweet"><br></input>
</div>
<div class="form-group">
<button type="submit" >Submit</button>
</div>
</form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
